<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="DataPath" value="C:\Program Files (x86)\Tesseract-OCR" />
      <!--<add key="DataPath" value="TESSDATA_PREFIX" />-->
      <add key="ImagePath" value="C:\temp\ocr\input.png" />
      <!--<add key="ImageFolderPath" value="C:\temp\ocr\images" />-->
      <!--<add key="ImageFolderPath" value="C:\temp\ocr\images2" />-->
      <!--<add key="ImageFolderPath" value="C:\temp\ocr\DiagramMarkingsComments" />-->
      <!--<add key="ImageFolderPath" value="C:\temp\ocr\DiagramMarkings" />-->
      <add key="ImageFolderPath" value="C:\temp\ocr\Test" />
    </appSettings>
</configuration>